name: Files sync
on:
  push:
    branches:
      - master
jobs:
  sync-files:
    if: github.repository == 'micronaut-projects/micronaut-project-template'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        repo:
          - acme
          - aws
          - azure
          - cache
          - cassandra
          - core
          - couchbase
          - data
          - discovery-client
          - elasticsearch
          - flyway
          - gcp
          - gradle-plugin
          - graphql
          - groovy
          - grpc
          - hibernate-validator
          - ignite
          - jackson-xml
          - jaxrs
          - jms
          - jmx
          - kafka
          - kotlin
          - kubernetes
          - liquibase
          - micrometer
          - mongodb
          - nats
          - neo4j
          - netflix
          - openapi
          - oracle-cloud
          - picocli
          - rabbitmq
          - ratelimiter
          - reactor
          - redis
          - rss
          - rxjava1
          - rxjava3
          - security
          - servlet
          - spring
          - sql
          - test
          - views
    steps:
      - name: Checkout source
        uses: actions/checkout@v2
        with:
          path: source
      - name: Checkout target - master
        uses: actions/checkout@v2
        with:
          repository: micronaut-projects/micronaut-${{ matrix.repo }}
          path: target
          fetch-depth: 0
          token: ${{ secrets.GH_TOKEN }}
      - name: Determine latest maintenance branch
        id: branch
        working-directory: target
        run: |
          branch=$(git --no-pager branch --list --remote "origin/*" | egrep '[1-9]+\.[0-9]+\.x$' | sed -e "s/.*origin\///" | sort -t. -k 1,1nr -k 2,2nr -k 3,3nr | head -1)
          echo "Latest maintenance branch: ${branch}"
          echo ::set-output name=branch::${branch}
      - name: Checkout target - ${{ steps.branch.outputs.branch }}
        if: steps.branch.outputs.branch != ''
        uses: actions/checkout@v2
        with:
          repository: micronaut-projects/micronaut-${{ matrix.repo }}
          path: branch
          ref: ${{ steps.branch.outputs.branch }}
          token: ${{ secrets.GH_TOKEN }}
      - name: Sync workflows
        run: |
          mkdir -p target/.github/workflows/
          rsync --verbose --verbose  --delete --archive -F "source/.github/workflows/" "target/.github/workflows/"
          if [ -d branch ]; then
            mkdir -p branch/.github/workflows/
            rsync --verbose --verbose  --delete --archive -F "source/.github/workflows/" "branch/.github/workflows/"
          fi
      - name: Copy files from source to target branches
        run: |
          while IFS= read -r file; do
              dest="$(dirname $file)"
              mkdir -p target/$dest
              cp -r source/$file target/$dest
              if [ -d branch ]; then
                mkdir -p branch/$dest
                cp -r source/$file branch/$dest
              fi
          done <<< "$FILES"
        env:
          FILES: |-
            .github/dependabot.yml
            gradle/*
            gradlew*
            .gitignore
            ISSUE_TEMPLATE.md
            LICENSE
            config/HEADER
            config/spotless.license.java
            config/checkstyle/checkstyle.xml
      - name: Create Pull Request - master
        uses: peter-evans/create-pull-request@v2
        with:
          path: target
          token: ${{ secrets.GH_TOKEN }}
          committer: micronaut-build <${{ secrets.MICRONAUT_BUILD_EMAIL }}>
          author: micronaut-build <${{ secrets.MICRONAUT_BUILD_EMAIL }}>
          commit-message: Update common files
          title: "[${{ matrix.repo }}] Update common files for branch master"
          body: Update common files
          labels: "relates-to: build"
          branch: sync-files-master
          base: master

      - name: Determine whether to skip the branch ${{ steps.branch.outputs.branch }}
        if: steps.branch.outputs.branch != ''
        id: skip
        working-directory: branch
        run: |
          sudo wget -O /usr/local/bin/yq https://github.com/mikefarah/yq/releases/download/3.3.0/yq_linux_amd64
          sudo chmod +x /usr/local/bin/yq
          skip=false
          if [ -f .github/micronaut-build.yml ]; then
            skip=$(yq r .github/micronaut-build.yml files-sync.skip)
          fi
          echo ::set-output name=skip::${skip}
      - name: Create Pull Request - ${{ steps.branch.outputs.branch }}
        if: steps.branch.outputs.branch != '' && steps.skip.outputs.skip != 'true'
        uses: peter-evans/create-pull-request@v2
        with:
          path: branch
          token: ${{ secrets.GH_TOKEN }}
          committer: micronaut-build <${{ secrets.MICRONAUT_BUILD_EMAIL }}>
          author: micronaut-build <${{ secrets.MICRONAUT_BUILD_EMAIL }}>
          commit-message: Update common files
          title: "[${{ matrix.repo }}] Update common files for branch ${{ steps.branch.outputs.branch }}"
          body: Update common files
          labels: "relates-to: build"
          branch: sync-files-${{ steps.branch.outputs.branch }}
          base: ${{ steps.branch.outputs.branch }}



